/*
Colors from Jeanne's CAOIM page:
background (grey/blueish):		#4D5660
Yellowy :						#EDC845
Tan (parchment):				#E9E7DB
*/

body {
	background-color:	#4D5660;
	color:				#fff;
	font-family: 		sans-serif;
	
	text-shadow: 		2px 2px 1px rgba(120, 120, 120, 1);
}

.no-shadow {
	text-shadow:		0px 0px 0px;
}

#center_dat_shit {
	width:				400px;
	margin:				auto;
}

a, a:visited {
	color:				#EDC845;
	text-decoration:	none;
}

.ui-widget-content a {
	color:				#EDC845;
	font-weight:		bold;
}

a:hover {
	text-decoration: 	underline;
}

h2 {
	letter-spacing: 	3px;
	text-shadow: 		2px 2px 2px rgba(0, 0, 0, 1);
	font-family:		sans-serif;
}

h3 {
	padding:			10px;
}

div {
	padding:			5px;
}

#welcome {
	position:			fixed;
	top:				12px;
	right:				24px;
}

#top_title {

}

#now_playing {
	width:			100%;
}

#the_whole_player {
/*	width:				400px;	*/
	padding:			15px;
	/*padding-top:		8px;	*/
	padding-bottom:		75px;
	position:			relative;
/*	margin:				auto;	*/
	background-color:	#aaa;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	
}

#alert {
	display:			none;
	width:				500px;
	position:			relative;
	left:				-70px;
	margin-bottom:		20px;
	padding:			20px;
	color:				#f00;
	border:				2px dashed #f00;
	background-color:	#fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 		15px;
	text-align:			center;
	font-weight:		bold;
	letter-spacing:		2px;
}

#alert a {
	color:				#111;
}

#div_audio {
	
}

#the_audio {
	width:	100%;
}

#the_audio_controls {
	
}

#playbackSpeedRange {
	
}

#displayPlaybackSpeed {
	
}

#div_more_results {
	cursor:		pointer;
}


#countdown {
	font-size:			28px;
	position:			absolute;
	left:				360px;
	top:				15px;
	width:				100%;

}

#recent_tunes {
	width:				100%;
	margin:				auto;
}

#prev_load_next_buttons button {
	width:				31%
}

#tune_by_tune_date {
	padding:			10px;
	margin:				0px auto;
}

#tune_by_tune_date_name {

}

#tune_by_date_tune_date {
	float:			right;
	margin-right:	10px;
}


/* ************ upload.php ********** */

#instructions_text {
						width:600px;
}

.italic {
						font-style: italic;
						color: #ccc;
}

.code {
						background-color: #EDC845;
						font-family: monospace;
						padding: 5px;
						width: auto;
}

.important {
						font-weight: bold;
						color: #f00;
						letter-spacing: 3px;
						font-family: serif;
						text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.userInput {
	color:				#ccc;
}











